<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>servlet.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEncuertas</servlet-name>
        <servlet-class>servlet.RegistrarEncuertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosBasicos</servlet-name>
        <servlet-class>servlet.DatosBasicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdministrador</servlet-name>
        <servlet-class>Servlet.LoginAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuario</servlet-name>
        <servlet-class>servlet.BuscarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoContactoSVL</servlet-name>
        <servlet-class>Servlet.InfoContactoSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalizacionSVL</servlet-name>
        <servlet-class>servlet.LocalizacionSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoSaludSVL</servlet-name>
        <servlet-class>Servlet.InfoSaludSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarSVL</servlet-name>
        <servlet-class>servlet.ActualizarSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GuardarRespuestas</servlet-name>
        <servlet-class>Servlet.GuardarRespuestas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEncuertas</servlet-name>
        <url-pattern>/encuestar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosBasicos</servlet-name>
        <url-pattern>/datosBasicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdministrador</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuario</servlet-name>
        <url-pattern>/buscandousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoContactoSVL</servlet-name>
        <url-pattern>/insContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalizacionSVL</servlet-name>
        <url-pattern>/vivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoSaludSVL</servlet-name>
        <url-pattern>/insSalud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarSVL</servlet-name>
        <url-pattern>/actualizarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarRespuestas</servlet-name>
        <url-pattern>/insRespuestas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/sicacest.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
