*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #393939;
}
div.cabecera{
	background-color: #515151;
	margin: 20px;
	padding: 10px;
}
h2{
	margin-bottom: 10px;
}
h2, h3, h4{
	text-align: center;
}
hr{
	margin: 10px;
}
p{
	color: #fff;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}